*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f2f5ff;
    color: #222;
}

header{
    background: #2563eb;
    color: white;
    text-align: center;
    padding: 25px 10px;
}

header h1{
    margin-bottom: 5px;
}

nav a{
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

nav a:hover,
nav .active{
    text-decoration: underline;
}

header p{
    margin-top: 8px;
    color: #e8e8e8;
}

.projects{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.project-card{
    background: white;
    border-radius: 14px;
    overflow: hidden;
    text-decoration: none;
    color: #111;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform .3s, box-shadow .3s;
}

.project-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 18px 30px rgba(0,0,0,0.25);
}


.project-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info{
    padding: 15px;
    text-align: center;
}

.info h3{
    margin-bottom: 6px;
}

.info p{
    color: #555;
}


footer{
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
